set NERDTree
set surround
set commentary


set ttyfast
set autoindent
set autoread                    " Automatically reread changed files without asking me anything
set autowrite                   " Automatically save before :next, :make etc.
set backspace=indent,eol,start  " Makes backspace key more powerful.
set completeopt=menu,menuone,noselect
set conceallevel=2              " Concealed text is completely hidden
set encoding=utf-8              " Set default encoding to UTF-8
set fileformats=unix,dos,mac    " Prefer Unix over Windows over OS 9 formats
set hidden
set hlsearch                    " Highlight found searches
set ignorecase                  " Search case insensitive...
set incsearch                   " Shows the match while typing
set laststatus=2
set lazyredraw
set mouse=a                     " Enable mouse mode
set nobackup                    " Don't create annoying backup files
set nocursorcolumn              " speed up syntax highlighting
set cursorline
" set cursorlineopt=number      " just highlight the number
set noshowmatch                 " Do not show matching brackets by flickering
set noshowmode                  " We show the mode with airline or lightline
set noswapfile                  " Don't use swapfile
set number                      " Show line numbers
set pumheight=10                " Completion window max size
set shortmess+=c                " Shut off completion messages
set showcmd                     " Show me what I'm typing
set smartcase                   " ... but not it begins with upper case
set splitbelow                  " Split horizontal windows below to the current windows
set splitright                  " Split vertical windows right to the current windows
set updatetime=300

set clipboard^=unnamed
set clipboard^=unnamedplus


nnoremap <silent> <c-k> <C-W>k
nnoremap <silent> <c-j> <C-W>j
nnoremap <silent> <c-h> <C-W>h
nnoremap <silent> <c-l> <C-W>l

nnoremap <silent> <c-p> :action GotoFile<CR>
nnoremap <silent> <c-g> :action FindInPath<CR>

nnoremap <silent> <leader>f :NERDTreeFind<CR>
nnoremap <silent> <leader>n :NERDTreeToggle<CR>

nnoremap H ^
nnoremap L $
vnoremap H ^
vnoremap L g_

nnoremap n nzzzv
nnoremap N Nzzzv

noremap <C-d> <C-d>zz
noremap <C-u> <C-u>zz

nnoremap <silent> <c-x> <c-^>

nmap gD :action GotoImplementation<CR>
nmap gt :action GotoTypeDeclaration<CR>

nnoremap <silent> <leader>rn :action RenameElement<CR>
